<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div th:if="${not #lists.isEmpty(categories)}" th:remove="tag">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <th:block th:each="c : ${categories}" th:remove="tag">
                            <li class="nav-item">
                                <a th:href="@{'/' + ${c.name} }" class="nav-link" href="#" th:text="${c.name}">Link</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
    <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

    <h1>Product list</h1>
    <!--/* ================================================================================== */-->
<div th:if="${not #lists.isEmpty(products)}">
    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">check</div>
                <div class="divTableHead" style="min-width:287px;">photo</div>
                <div class="divTableHead">name</div>
                <div class="divTableHead">upholstery</div>
                <div class="divTableHead">category</div>
                <div class="divTableHead">name of<br />material</div>
                <div class="divTableHead">finishes</div>
                <!--<div class="divTableHead">price</div>-->
                <!--<div class="divTableHead">price+</div>-->
                <div class="divTableHead">discount</div>
                <div class="divTableHead">amount</div>
                <div class="divTableHead">products' price</div>
                <div class="divTableHead">delivery</div>
                <div class="divTableHead">fabric</div>
                <!--<div class="divTableHead">leather</div>-->
                <!--<div class="divTableHead">suede</div>-->
            </div>
        </div>
        <div class="divTableBody">
            <th:block th:each="p : ${products}">
            <div class="divTableRow">
                <div class="divTableCell"><input class="checkbox" type="checkbox" /></div>
                <div class="divTableCell"><a th:href="@{'/products/' + ${p.id} }">

                    <div th:if="${p.img != null && p.img.startsWith('http')}" th:remove="tag">
                        <img th:src="@{${p.img}}" th:alt="${p.name}" class="img-responsive" />
                    </div>
                    <div th:if="${p.img != null && !p.img.startsWith('http')}" th:remove="tag">
                        <img th:src="@{'/' + ${p.img}}" th:alt="${p.name}" class="img-responsive" />
                    </div>

                </a></div>
                <div class="divTableCell name-cell">[(${p.name})]<br>
                    <span th:text="${p.code}"></span>
                    <br />height: [(${p.height})] mm<br />width: [(${p.width})] mm<br />depth: [(${p.depth})] mm<br />volume: [(${p.volume})] m<sup>3</sup></sup></div>
                <div class="divTableCell">
                    <div>
                    <select class="furnish">
                        <option value="Fabric">Fabric</option>
                        <option value="Leather">Leather</option>
                        <option value="Suede">Suede</option>
                    </select>
                        <p class="after">&nbsp;</p>
                    </div>
                </div>
                <div class="divTableCell">
                    <div><select class="get_category">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                        <p class="add_category">&nbsp;</p>
                        <p class="after">&nbsp;</p>
                    </div>
                </div>
                <div class="divTableCell">
                    <div><select class="material">
                        <option value="name 1">name 1</option>
                        <option value="name 2">name 2</option>
                        <option value="name 3">name 3</option>
                        <option value="name 4">name 4</option>
                        <option value="name 5">name 5</option>
                        <option value="name 6">name 6</option>
                        <option value="name 7">name 7</option>
                    </select></div>
                </div>
                <div class="divTableCell"><img style="height: 80px; margin: -10px 0 10px 0;" src="img/Java.jpg" alt="" />
                    <div><select class="wood">
                        <option value="1">Java</option>
                        <option value="2">Anthracite</option>
                        <option value="3">Chestnut</option>
                        <option value="4">Ivory</option>
                        <option value="5">RAL</option>
                    </select>
                        <p class="add_wood">&nbsp;</p>
                        <p class="after">&nbsp;</p>
                    </div>
                </div>
                <!--<div class="divTableCell">&nbsp;</div>-->
                <!--<div class="divTableCell">&nbsp;</div>-->
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"><input class="get_amount" max="200" min="1" step="1" type="number" value="1" /></div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">[(${p.priceFabric})]</div>
                <!--<div class="divTableCell">0</div>-->
                <!--<div class="divTableCell">0</div>-->
            </div>
            </th:block>
        </div>
    </div>
</div>
    <!--/* ================================================================================== */-->

    <ul>
        <li>Go to the <a href="/user" th:href="@{/user}">secured user pages</a></li>
    </ul>
</div>
</body>
</html>

