<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${product.name}">Single</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-5">
            <h1 th:text="${product.name}">Stuff</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-6">Category: <a th:href="@{'/' + ${product.category.name} }" th:utext="${product.category.name}"></a></div>
            <div class="col-md-5" th:utext="${'price: ' + product.priceFabric}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div th:if="${product.img != null}" th:switch="${product.img.substring(0, 4)}" th:remove="tag">

                <div th:if="${product.img != null && product.img.startsWith('http')}" th:remove="tag">
                    <img th:src="@{${product.img}}" th:alt="${product.name}" class="img-responsive" />
                </div>
                <div th:if="${product.img != null && !product.img.startsWith('http')}" th:remove="tag">
                    <img th:src="@{'/' + ${product.img}}" th:alt="${product.name}" class="img-responsive" />
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item" th:utext="${'width: ' + product.width + ' mm'}">0</li>
                <li class="list-group-item" th:utext="${'heigth: ' + product.height + ' mm'}">0</li>
                <li class="list-group-item" th:utext="${'depth: ' + product.depth + ' mm'}">0</li>
                <li class="list-group-item" th:utext="${'volume: ' + product.volume + ' m<sup>3</sup>'}">0</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" th:utext="${'code: ' + product.code}"></div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="col-sm-4">
                <a th:href="@{/products}" class="btn btn-info">View all</a>
            </div>
            <th:block sec:authorize="isAuthenticated()">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="col-sm-4">
                    <a th:href="@{'/products/' + ${product.id} + '/edit'}" class="btn btn-default">Edit</a>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>