<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Table Test</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
    <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

    <!--<div th:fragment="order" th:if="${session.currentOrder != null}">-->
    <!--<p th:text="${session.currentOrder.size()}"></p>-->
    <!--</div>-->

    <div id="feedback">
        <th:block th:if="${!#lists.isEmpty(session.currentOrder)}" th:unless="${session == null}">
            <p th:utext="${'Items size: ' + session.currentOrder.size()}"></p>
        </th:block>
    </div>

    <h1>Product list</h1>
    <!--/* ===============================  Table  ========================================== */-->

    <div th:if="${not #lists.isEmpty(products)}">
        <table class="table mytable" cellspacing="0" id="testTable" border="1">
            <thead>
            <tr class="name">
                <th style="width:287px;">Photo</th>
                <th>Information</th>
                <th>Options</th>
                <th>Quantity</th>
                <th class="price">Amount</th>
            </tr>
            </thead>


            <tbody>

            <th:block th:each="p : ${products}">
                <tr>
                    <input type="hidden" class="id" name="product.id" th:value="${p.id}">

                    <td>
                        <a th:href="@{'/products/' + ${p.id} }">
                            <div th:if="${p.img != null && p.img.startsWith('http://')}" th:remove="tag">
                                <img th:src="@{${p.img}}" th:alt="${p.name}" class="img-responsive"/>
                            </div>
                            <div th:if="${p.img != null && !p.img.startsWith('http://')}" th:remove="tag">
                                <img th:src="@{'/' + ${p.img}}" th:alt="${p.name}" class="img-responsive"/>
                            </div>
                        </a>
                    </td>


                    <td>
                        <b th:text="${p.name}"></b>
                        <br>
                        <span>Price: <span class="price" th:text="${p.priceFabric}"></span> €</span>
                        <br>
                        <small th:if="${p.code != null}">code:</small>
                        <span th:text="${p.code}"></span>
                        <hr>
                        <br>
                        Volume: [(${p.volume})] m<sup>3</sup></sup>
                        <br>
                        (H: [(${p.height})] mm W: [(${p.width})] mm D: [(${p.depth})] mm)
                    </td>

                    <td>
                        <th:block th:if="${not #lists.isEmpty(p.type.additions)}">
                            <th:block th:each="ad : ${p.type.additions}">
                                <div th:if="${not #lists.isEmpty(ad.options)}" th:remove="tag">

                                    <label for="option" th:text="${ad.name}"></label>
                                    <select th:name="${'addition_' + ad.id}"
                                            class="form-control form-control-sm option"
                                            id="option"
                                            onchange="getSum(this)">
                                        <option value="0">Default</option>
                                        <option th:each="op : ${ad.options}" th:value="${op.id}"
                                                th:text="${op.name}"
                                                th:title="${op.price + ' €'}"></option>
                                    </select>

                                </div>
                            </th:block>
                        </th:block>
                    </td>

                    <td>
                        <input type="text" name="quantity" class="form-control decimal text-center count"
                               style="width: 60px; margin: 0 auto;"
                               value="1" onchange="getSum(this)">
                    </td>

                    <td class="text-center">
                        <span><span class="total-price price" th:text="${p.priceFabric}"></span> €</span>
                        <button onclick="sendData(this);" id="btn-add">Add</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!--/* ===============================  Table - END ========================================== */-->

    <script th:inline="javascript">
        var options = /*[[${options}]]*/ null;
    </script>

    <script type="text/javascript" src="js/orderStatus.js"></script>

    <script>

        function getRowData(element) {
            while (element.parentElement.tagName != "TR") {
                element = element.parentElement;
            }
            var oneRow = element.parentElement;
            return oneRow;
        }

        function getSum(childElement) {
            var parent = getRowData(childElement);
            var sum = parseFloat(parent.getElementsByClassName("price")[0].innerHTML);
            var count = parseFloat(parent.getElementsByClassName("count")[0].value);
            var currentOptions = parent.getElementsByClassName("option");

            for (var i = 0; i < currentOptions.length; i++) {
                var id = currentOptions[i].value;
                var option = $.grep(options, function (e) {
                    return e.id == id
                });
                if (option.length == 1) {
                    sum += parseFloat(option[0].price);
                }
            }
            var totalPrices = parent.getElementsByClassName("total-price");
            var totalPrice = totalPrices[0];

            if (!isNaN(count)) {
                if (count > 1) {
                    sum *= count;
                }
            }

            totalPrice.innerHTML = sum;
        }

        $('.decimal').keyup(function () {
            var val = $(this).val();
            if (isNaN(val)) {
                val = val.replace(/[^0-9\.]/g, '');
                if (val.split('.').length > 2)
                    val = val.replace(/\.+$/, "");
            }
            $(this).val(val);
        });
    </script>

</div>
</body>
</html>

