<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title>Add new Addition</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.message}" th:remove="tag">
                <div class="alert alert-info">
                    [(${param.message})]
                </div>
            </div>

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    [(${param.error})]
                </div>
            </div>

            <h1>Add new Addition</h1>
            <form th:action="@{/additions/create}" method="post" th:object="${additionForm}">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <div class="col-sm-6">

                                <input type="text"
                                       id="name"
                                       name="name"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Addition Name">
                            </div>

                            <div class="col-sm-3">
                                <input type="submit"
                                       name="login-submit"
                                       id="login-submit"
                                       class="form-control btn btn-info"
                                       value="Create">
                            </div>

                        </div>

                    </div>



                </div>

            </form>
        </div>
    </div>

    <th:block th:if="${not #lists.isEmpty(additions)}">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <ul class="list-group text-center">
                    <li th:each="add : ${additions}" class="list-group-item"><a th:text="${add.name}" th:href="@{'/additions/' + ${add.id}}"></a></li>
                </ul>
            </div>

        </div>
    </th:block>

</div>
</body>
</html>