<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${addition != null} ? ${addition.name}">Addition not found</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
            <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

            <th:block th:if="${addition != null}">
                <h1 th:text="${addition.name}"></h1>

                <form th:action="@{'/additions/' + ${addition.id}}" th:object="${addition}" method="post">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1">
                                <label for="name">Addition Name: </label>
                                <input type="text"
                                       id="name"
                                       name="name"
                                       class="form-control"
                                       autocomplete="off"
                                       placeholder="Name"
                                       th:value="${addition.name != null} ? ${addition.name}">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-sm-3 col-sm-offset-3">
                                <input type="submit"
                                       name="save"
                                       id="save-type"
                                       class="form-control btn btn-info"
                                       value="Save">
                            </div>

                            <div class="col-sm-3">
                                <button type="submit"
                                        th:formaction="@{'/additions/delete/' + ${addition.id}}"
                                        name="delete"
                                        onclick="return confirm('Are you sure?')"
                                        id="delete-type-submit"
                                        class="form-control btn btn-danger">
                                    Delete
                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" id="btn-option"
                                        class="form-control btn btn-warning">
                                    Add option
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </th:block>

        </div>

    </div>

    <!--// --------------------------------------------------------------- //-->

    <div class="row" id="option-add" style="display: none">
        <h4>Add option</h4>
        <div class="col-md-3">
            <img class="img-responsive" id="output" style="max-height: 300px;"/>
        </div>

        <div class="col-md-6 ">
            <form th:action="@{/options/add}" method="post" th:object="${option}" enctype="multipart/form-data">

                <input type="hidden" th:value="${addition.id}" name="addition.id">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"
                                    for="name.option">Option Name: </label>
                            <input type="text"
                                   id="name.option"
                                   name="name"
                                   class="form-control"
                                   autocomplete="off"
                                   placeholder="Name">
                        </div>
                        <div class="col-md-3">
                            <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"
                                    for="price.option">Price: </label>
                            <input type="text"
                                   id="price.option"
                                   name="price"
                                   class="form-control decimal"
                                   autocomplete="off"
                                   placeholder="Price"></div>


                    </div>
                </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <label for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message">Incorrect data!</label>
                        <textarea class="form-control" name="description" id="description" cols="20" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="btn btn-default btn-file">
                            Browse
                            <input type="file" style="display: none;"
                                   accept="image/*"
                                   id="upload"
                                   name="image"
                                   onchange="loadFile(event)">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="btn btn-info btn-file">
                            Add
                            <input type="submit" style="display: none;" onchange="this.form.submit()">
                        </label>
                    </div>
                </div>
            </div>
            </form>
        </div>

    </div>

    <th:block th:if="${not #lists.isEmpty(options)}">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <table class="table text-center">
                    <thead class="thead-dark" style="background-color:#212121; color:#fff">
                    <tr>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="option : ${options}">
                        <tr>
                            <td><a th:text="${option.name}" th:href="@{'/options/' + ${option.id}}"></a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </th:block>

    <script type="text/javascript">
        $('.decimal').keyup(function(){
            var val = $(this).val();
            if(isNaN(val)){
                val = val.replace(/[^0-9\.]/g,'');
                if(val.split('.').length>2)
                    val =val.replace(/\.+$/,"");
            }
            $(this).val(val);
        });

        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $('#btn-option').click(function () {
            $('#option-add').css({'display' : 'block'})
        })
    </script>

    <p><a href="/" th:href="@{/additions/create}">Create one more Addition</a></p>
</div>
</body>
</html>