<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${type != null} ? ${type.name}">Type not found</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    [(${param.error})]
                </div>
            </div>

            <div th:if="${param.message}" th:remove="tag">
                <div class="alert alert-info">
                    [(${param.message})]
                </div>
            </div>

            <div th:if="${error != null}">
                <div class="alert alert-danger">
                    [(${error})]
                </div>
            </div>
            <th:block th:if="${type != null}">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <h1 th:text="${type.name}"></h1>
                    </div>
                </div>
            </th:block>

        </div>
    </div>

    <th:block th:if="${not #lists.isEmpty(additions)}">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                    <thead class="thead-dark" style="background-color:#212121; color:#fff">
                    <tr>
                        <th scope="col">Addition</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="addition : ${additions}">
                        <tr>
                            <td><a th:text="${addition.name}" th:href="@{'/additions/' + ${addition.id}}"></a></td>
                            <td th:text="${addition.type.name}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </th:block>


    <p><a href="/" th:href="@{/additions/create}">Create one more Addition</a></p>
    <p><a href="/" th:href="@{/types/create}">Create one more Product Type</a></p>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>