<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${product.name}">Product view Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-5">
            <h1 th:text="${product.name}">Product</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div th:if="${product.img != null}" th:switch="${product.img.substring(0, 4)}" th:remove="tag">

                <div th:if="${product.img != null && product.img.startsWith('http')}" th:remove="tag">
                    <img th:id="output" th:src="@{${product.img}}" th:alt="${product.name}" class="img-responsive"/>
                </div>
                <div th:if="${product.img != null && !product.img.startsWith('http')}" th:remove="tag">
                    <img th:id="output" th:src="@{'/' + ${product.img}}" th:alt="${product.name}"
                         class="img-responsive"/>
                </div>

            </div>
        </div>
        <div class="col-md-6 ">

            <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
            <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

            <form th:action="@{/products/save}" method="post" th:object="${product}" enctype="multipart/form-data">
                <input type="hidden" th:field="${product.id}">

                <th:block th:if="${not #lists.isEmpty(types)}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-1">
                                <label for="type">Type: </label>

                                <select class="form-control" id="type" th:field="${product.type.id}">
                                    <option th:each="t :${types}" th:value="${t.id}" th:text="${t.name}"
                                            th:selected="${product.type.id == t.id}"></option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="category">Category: </label>

                                <select class="form-control" id="category" th:field="${product.category.id}">
                                    <option th:each="c :${categories}" th:value="${c.id}" th:text="${c.name}"
                                            th:selected="${product.category.id == c.id}"></option>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <label for="price">Price</label>
                                <input th:field="*{priceFabric}"
                                       autocomplete="off"
                                       type="text"
                                       name="price" id="price"
                                       class="form-control decimal"
                                       placeholder="Price"
                                       th:value="${product.priceFabric}">
                            </div>
                        </div>
                    </div>
                </th:block>


                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-5 col-sm-offset-1">
                            <label for="name">Name: </label>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   autocomplete="off"
                                   class="form-control"
                                   placeholder="Product Name"
                                   th:value="${product.name}">
                        </div>

                        <div class="col-sm-5">
                            <label for="code">Code: </label>
                            <input type="text"
                                   id="code"
                                   name="code"
                                   autocomplete="off"
                                   class="form-control"
                                   placeholder="Product Code"
                                   th:value="${product.code}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-3 col-sm-offset-1">
                            <label for="height">Height mm</label>
                            <input type="text" name="height" id="height"
                                   class="form-control decimal"
                                   autocomplete="off"
                                   th:value="${product.height}"
                                   placeholder="Height">

                        </div>

                        <div class="col-sm-3">
                            <label for="width">Width mm</label>
                            <input type="text" name="width" id="width"
                                   class="form-control decimal"
                                   autocomplete="off"
                                   th:value="${product.width}"
                                   placeholder="Width">
                        </div>

                        <div class="col-sm-4">
                            <label for="depth">Depth mm</label>
                            <input type="text" name="depth" id="depth"
                                   class="form-control decimal"
                                   autocomplete="off"
                                   th:value="${product.depth}"
                                   placeholder="Depth">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-1">
                            <label for="upload" class="control-label">Image:</label>
                            <input type="file" class="form-control" accept="image/*"
                                   id="upload"
                                   placeholder="Choose image"
                                   name="image"
                                   onchange="loadFile(event)">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="col-sm-3">
                                <input type="submit"
                                       class="btn btn-info"
                                       value="Save">
                            </div>
                            <div class="col-sm-3">
                                <input type="submit"
                                       class="btn btn-danger"
                                       th:formaction="@{/products/delete}"
                                       onclick="return confirm('Are you sure?')"
                                       value="Delete">
                            </div>
                            <div class="col-sm-3">
                                <a th:href="@{'/products/' + ${product.id}}" class="btn btn-default">Cancel</a>
                            </div>

                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>


    <script type="text/javascript">
        $('.decimal').keyup(function () {
            var val = $(this).val();
            if (isNaN(val)) {
                val = val.replace(/[^0-9\.]/g, '');
                if (val.split('.').length > 2)
                    val = val.replace(/\.+$/, "");
            }
            $(this).val(val);
        });

        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>


    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>