<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${option != null} ? ${option.name}">Addition not found</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-5">
            <h1 th:text="${option.name}">Stuff</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" id="output" style="max-height: 300px;" th:src="@{${'/' + option.img}}"/>
        </div>

        <div class="col-md-6 ">

            <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
            <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>
            <th:block th:if="${option != null}">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-5">
                                <span th:utext="${'price: ' + option.price}"></span>
                            </div>

                            <div class="col-md-7" th:if="${option.description != null}" >
                                <div class="card">
                                    <div class="card-body" th:text="${option.description}"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group" id="edit">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" id="btn-option"
                                        class="form-control btn btn-warning">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
            </th:block>
        </div>
        <div class="col-md-6 " id="add" style="display: none">
            <form th:action="@{/options/edit}" method="post" th:object="${option}" enctype="multipart/form-data">

                <input type="hidden" th:value="${option.id}" name="id">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"
                                   for="name.option"></label>
                            <input type="text"
                                   id="name.option"
                                   name="name"
                                   class="form-control"
                                   autocomplete="off"
                                   th:value="*{name}"
                                   placeholder="Name">
                        </div>
                        <div class="col-md-3">
                            <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="validation-message"
                                   for="price.option"></label>
                            <input type="text"
                                   id="price.option"
                                   name="price"
                                   class="form-control decimal"
                                   autocomplete="off"
                                   th:value="*{price}"
                                   placeholder="Price"></div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <label for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                            <textarea class="form-control" name="description" id="description" cols="20" rows="5" th:text="*{description}"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3">
                                <label class="btn btn-default btn-file">
                                    Browse
                                    <input type="file" style="display: none;"
                                           accept="image/*"
                                           id="upload"
                                           name="image"
                                           onchange="loadFile(event)">
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label class="btn btn-info btn-file">
                                    Save
                                    <input type="submit" style="display: none;" onchange="this.form.submit()">
                                </label>
                            </div>
                            <div class="col-md-3">
                                <input type="submit"
                                       class="btn btn-danger"
                                       th:formaction="@{/options/delete}"
                                       onclick="return confirm('Are you sure?')"
                                       value="Delete">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>



    </div>

    <!--// --------------------------------------------------------------- //-->

    <div class="row" >
        <!--<div class="col-md-3">-->
            <!--<img class="img-responsive" id="output" style="max-height: 300px;" th:src="@{${'/' + option.img}}"/>-->
        <!--</div>-->


    </div>


    <script type="text/javascript">
        $('.decimal').keyup(function(){
            var val = $(this).val();
            if(isNaN(val)){
                val = val.replace(/[^0-9\.]/g,'');
                if(val.split('.').length>2)
                    val =val.replace(/\.+$/,"");
            }
            $(this).val(val);
        });

        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $('#btn-option').click(function () {
            $('#add').css({'display' : 'block'});
            $('#edit').css({'display' : 'none'})
        })
    </script>

</div>
</body>
</html>