<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${type != null} ? ${type.name}">Type not found</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="row">
        <div class="col-md-10 col-md-offset-2">


            <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>
            <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>

            <div class="col-md-4">

                <div class="row">

                    <div class="col-md-9">
                        <span class="h1" th:text="${type.name}"></span>

                        <button type="button" id="btn-option" class="bookmark glyphicon glyphicon-pencil"></button>
                        <button type="button" style="display: none" id="btn-cancel"
                                class="bookmark glyphicon glyphicon-remove"></button>

                    </div>
                </div>

                <form style="display:none;" id="add" th:action="@{'/types/' + ${type.id}}" th:object="${type}"
                      method="post">
                    <div class="form-group">
                        <input type="text"
                               name="name"
                               class="form-control"
                               th:value="${type.name != null} ? ${type.name}"
                               placeholder="Type name">
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-xs-5 col-xs-offset-1">
                                <input type="submit"
                                       name="save"
                                       id="save-type"
                                       class="form-control btn btn-info"
                                       value="Save">
                            </div>

                            <div class="col-xs-5">
                                <button type="submit"
                                        th:formaction="@{'/types/delete/' + ${type.id}}"
                                        name="delete"
                                        id="delete-type-submit"
                                        class="form-control btn btn-danger">
                                    Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>


            <form th:if="${additions.size() > 0}" th:action="@{/types/add_addition}" method="post">
                <input type="hidden" th:value="${type.id}" name="type.id">
                <div class="col-md-2">
                    <th:block th:if="${not #lists.isEmpty(additions)}">
                        <div class="row">
                            <select class="form-control" name="addition.id">
                                <option th:each="add : ${additions}" th:value="${add.id}"
                                        th:text="${add.name}"></option>
                            </select>
                        </div>
                    </th:block>
                </div>

                <div class="col-md-1">
                    <input type="submit"
                           name="save"
                           class="form-control btn btn-info"
                           value="add">
                </div>
            </form>

            <div class="col-md-3">
                <ul class="list-group">
                    <form th:action="@{/types/delete_addition}" method="post">
                        <input type="hidden" th:value="${type.id}" name="type.id">
                        <li class="list-group-item" th:each="add : ${type.additions}"><span th:text="${add.name}"></span>
                            <button type="submit"
                                    th:formaction="@{'/types/delete_addition/' + ${add.id}}"
                                    name="delete"
                                    class="btn-xs btn btn-danger">
                                Delete
                            </button>
                        </li>
                    </form>
                </ul>
            </div>


        </div>
    </div>



    <p><a href="/" th:href="@{/types/create}">Create one more Product Type</a></p>

    <script>
        $('#btn-option').click(function () {
            $('#btn-option').css({'display': 'none'});
            $('#add').css({'display': 'block'});
            $('#btn-cancel').css({'display': "inline"})
        })

        $('#btn-cancel').click(function () {
            $('#btn-option').css({'display': 'inline'});
            $('#add').css({'display': 'none'});
            $('#btn-cancel').css({'display': "none"})
        })
    </script>
</div>
</body>
</html>