<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">
<head>
    <title>Add new Product Type</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
            <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>


            <h1>Add new Product Type</h1>

        </div>
    </div>

    <div class="form-group">
    <div class="row">
        <div class="col-md-8">

            <form th:action="@{/types/create}" method="post">



                    <div class="col-md-4 col-md-offset-6">
                        <input type="text"
                               id="name"
                               name="name"
                               class="form-control"
                               placeholder="Type Name">

                    </div>

                        <div class="col-md-2">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Create">
                        </div>

            </form>

        </div>
    </div>
    </div>

    <th:block th:if="${not #lists.isEmpty(types)}">

        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <span>Types:</span>
                <ul class="list-group text-center">
                    <li th:each="type : ${types}" class="list-group-item"><a th:text="${type.name}" th:href="@{'/types/' + ${type.id}}"></a></li>
                </ul>



            </div>

        </div>
    </th:block>


</div>
</body>
</html>