<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Orders Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">



    <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
    <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

    <h1>Orders Page</h1>

    <th:block th:unless="${#lists.isEmpty(orders)}">


            <table class="table mytable" cellspacing="0" id="testTable" border="1">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Date</td>
                        <td>Option</td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="o : ${orders}">
                        <tr>
                            <td><a th:href="@{'/orders/' + ${o.id}}" th:text="${o.title}"></a></td>
                            <td th:text="${#temporals.formatISO(o.createdAt)}"></td>
                            <td>no</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>


        </th:block>

    <p th:if="${#lists.isEmpty(orders)}">No orders found!</p>






</div>
</body>
</html>

