<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Order Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row" th:if="${not #lists.isEmpty(session.currentOrder)}">

            <form th:action="@{/order/save}" method="post">
                <div class="col-md-3 col-md-offset-3">
                    <input type="text" name="title" placeholder="Order Title" class="form-control" autocomplete="off">
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>
    </div>

    <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
    <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

    <h1>Order Page</h1>

    <th:block th:unless="${session == null}">
        <!--/* ===============================  Table  ========================================== */-->

        <div th:if="${not #lists.isEmpty(session.currentOrder)}">
            <table class="table mytable" cellspacing="0" id="testTable" border="1">
                <thead>
                <tr class="name">
                    <th style="width:287px;">Photo</th>
                    <th>Information</th>
                    <th>Options</th>
                    <th>Quantity</th>
                    <th class="price">Amount</th>
                </tr>
                </thead>


                <tbody>

                <th:block th:each="item : ${session.currentOrder}">
                    <tr>

                        <form th:action="@{/order/edit}" method="post">
                            <input type="hidden" name="item.index" th:value="${session.currentOrder.indexOf(item)}">

                            <td>
                                <a th:href="@{'/products/' + ${item.product.id} }">
                                    <div th:if="${item.product.img != null && item.product.img.startsWith('http://')}"
                                         th:remove="tag">
                                        <img th:src="@{${item.product.img}}" th:alt="${item.product.name}"
                                             class="img-responsive"/>
                                    </div>
                                    <div th:if="${item.product.img != null && !item.product.img.startsWith('http://')}"
                                         th:remove="tag">
                                        <img th:src="@{'/' + ${item.product.img}}" th:alt="${item.product.name}"
                                             class="img-responsive"/>
                                    </div>
                                </a>
                            </td>


                            <td>
                                <b th:text="${item.product.name}"></b>
                                <br>
                                <span>Price: <span class="price" th:text="${item.product.priceFabric}"></span> €</span>
                                <br>
                                <small th:if="${item.product.code != null}">code:</small>
                                <span th:text="${item.product.code}"></span>
                                <hr>
                                <br>
                                Volume: [(${item.product.volume})] m<sup>3</sup></sup>
                                <br>
                                (H: [(${item.product.height})] mm W: [(${item.product.width})] mm D:
                                [(${item.product.depth})] mm)
                            </td>
                            <!-- Options -->
                            <td>
                                <th:block th:each="itemOption : ${item.options}" th:unless="${#lists.isEmpty(item.options)}">
                                    <b th:text="${itemOption.addition.name}"></b>: <span
                                        th:text="${itemOption.name}"></span><br>
                                </th:block>
                                <span th:if="${#lists.isEmpty(item.options)}">Default options</span>
                                <hr>
                                <th:block th:each="ad : ${item.product.type.additions}">

                                    <label for="option" th:text="${ad.name}"></label>
                                    <select th:name="${'addition_' + ad.id}"
                                            class="form-control form-control-sm option"
                                            id="option"
                                            onchange="getSum(this)">
                                        <option value="0">Default</option>
                                        <option th:each="op : ${ad.options}" th:value="${op.id}"
                                                th:text="${op.name}"
                                                th:title="${op.price + ' €'}"></option>
                                    </select>

                                </th:block>
                            </td>

                            <td>
                                <input type="text" name="quantity" class="form-control decimal text-center count"
                                       style="width: 60px; margin: 0 auto;"
                                       th:value="${item.quantity}" onchange="getSum(this)">
                            </td>

                            <td class="text-center">
                                <span><span class="total-price price"
                                            th:text="${item.price}"></span> €</span>

                                <input type="submit" value="save" class="btn btn-primary btn-xs">

                                <button type="submit"
                                        th:formaction="@{/order/delete/}"
                                        name="delete"
                                        onclick="return confirm('Are you sure?')"
                                        id="delete-type-submit"
                                        class="btn btn-danger btn-xs">
                                    Delete
                                </button>
                            </td>
                        </form>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <!--/* ===============================  Table - END ========================================== */-->

    </th:block>

    <script th:inline="javascript">
        var options = /*[[${options}]]*/ null;
    </script>


    <script>

        function getRowData(element) {
            while (element.parentElement.tagName != "TR") {
                element = element.parentElement;
            }
            var oneRow = element.parentElement;
            return oneRow;
        }

        function getSum(childElement) {
            var parent = getRowData(childElement);
            var sum = parseFloat(parent.getElementsByClassName("price")[0].innerHTML);
            var count = parseFloat(parent.getElementsByClassName("count")[0].value);
            var currentOptions = parent.getElementsByClassName("option");

            for (var i = 0; i < currentOptions.length; i++) {
                var id = currentOptions[i].value;
                var option = $.grep(options, function (e) {
                    return e.id == id
                });
                if (option.length == 1) {
                    sum += parseFloat(option[0].price);
                }
            }
            var totalPrices = parent.getElementsByClassName("total-price");
            var totalPrice = totalPrices[0];

            if (!isNaN(count)) {
                if (count > 1) {
                    sum *= count;
                }
            }

            totalPrice.innerHTML = sum;
        }

        $('.decimal').keyup(function () {
            var val = $(this).val();
            if (isNaN(val)) {
                val = val.replace(/[^0-9\.]/g, '');
                if (val.split('.').length > 2)
                    val = val.replace(/\.+$/, "");
            }
            $(this).val(val);
        });
    </script>


</div>
</body>
</html>

