<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script th:src="@{/js/plugins/jspdf.min.js}"></script>
    <script th:src="@{/js/plugins/jspdf.plugin.autotable.js}"></script>

    <title th:text="${order.title}">Order Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="alert alert-info" th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}"></div>
    <div class="alert alert-danger" th:if="${#vars['flash.error']}" th:text="${#vars['flash.error']}"></div>

    <h1 th:text="${order.title}">Order Page</h1>

    <th:block th:unless="${session == null}">
        <!--/* ===============================  Table  ========================================== */-->

        <div id="order" th:if="${not #lists.isEmpty(order.orderItems)}">
            <table class="table mytable" cellspacing="0" id="table" border="1">
                <thead>
                <tr class="name">
                    <th style="width:287px;">Photo</th>
                    <th>Information</th>
                    <th>Options</th>
                    <th>Quantity</th>
                    <th class="price">Amount</th>
                </tr>
                </thead>


                <tbody>

                <th:block th:each="item : ${order.orderItems}">
                    <tr>



                            <td>
                                <a th:href="@{'/products/' + ${item.product.id} }">
                                    <div th:if="${item.product.img != null && item.product.img.startsWith('http://')}"
                                         th:remove="tag">
                                        <img th:src="@{${item.product.img}}" th:alt="${item.product.name}"
                                             class="img-responsive"/>
                                    </div>
                                    <div th:if="${item.product.img != null && !item.product.img.startsWith('http://')}"
                                         th:remove="tag">
                                        <img th:src="@{'/' + ${item.product.img}}" th:alt="${item.product.name}"
                                             class="img-responsive"/>
                                    </div>
                                </a>
                            </td>


                            <td>
                                <b th:text="${item.product.name}"></b>
                                <br>
                                <span>Price: <span class="price" th:text="${item.product.priceFabric}"></span> €</span>
                                <br>
                                <small th:if="${item.product.code != null}">code:</small>
                                <span th:text="${item.product.code}"></span>
                                <hr>
                                <br>
                                Volume: [(${item.product.volume})] m<sup>3</sup>
                                <br>
                                (H: [(${item.product.height})] mm W: [(${item.product.width})] mm D:
                                [(${item.product.depth})] mm)
                            </td>
                            <!-- Options -->
                            <td>
                                <p th:if="${#lists.isEmpty(item.options)}">No options included.</p>
                                <th:block th:each="itemOption : ${item.options}">
                                    <b th:text="${itemOption.addition.name}"></b>: <span
                                        th:text="${itemOption.name}"></span><br>
                                </th:block>

                            </td>

                            <td>
                                <p class="text-center"><b th:text="${item.quantity}"></b><span> psc.</span></p>
                            </td>

                            <td class="text-center">
                                <span><span class="total-price price"
                                            th:text="${item.price}"></span> €</span>

                            </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
            <button onclick="toPDF()">PDF</button>
        </div>
        <!--/* ===============================  Table - END ========================================== */-->

    </th:block>


    <script>
        function toPDF() {
            var doc = new jsPDF('p', 'pt');
            var elem = document.getElementById("table");
            var res = doc.autoTableHtmlToJson(elem);
            doc.autoTable(res.columns, res.data);
            doc.save("table.pdf");
        }

    </script>


</div>
</body>
</html>

