<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <!--<img th:src="@{/img/logo.jpg}" alt="Shepel Colletion"/>-->
                    <span>Shepel Collection</span>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${#request.getRequestURI().length() == 1 ? 'active' : ''}">
                        <a th:href="@{/test}">Test</a>
                    </li>
                    <li th:classappend="${#request.getRequestURI().startsWith('/products')
                     && !#request.getRequestURI().startsWith('/products/create') ? 'active' : ''}">
                        <a th:href="@{/products}">Products</a>
                    </li>
                    <li  th:classappend="${#request.getRequestURI().startsWith('/products/create') ? 'active' : ''}">
                        <a th:href="@{/products/create}">Add Product</a>
                    </li>

                    <li th:classappend="${#request.getRequestURI().startsWith('/types') ? 'active' : ''}">
                        <a th:href="@{/types/create}">Add Type</a>
                    </li>

                    <li th:classappend="${#request.getRequestURI().startsWith('/additions') ? 'active' : ''}">
                        <a th:href="@{/additions/create}">Add Addition</a>
                    </li>

                    <li th:classappend="${#request.getRequestURI().startsWith('/order') ? 'active' : ''}">
                        <a th:href="@{/orders}">Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>