<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="'Error 404. Page not found.'">Single</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <!--/*@thymesVar id="error" type="String"*/-->
            <h1  th:text="${error}">Error 404. Page not found!</h1>

        </div>
    </div>


</div>
</body>
</html>